<nav class="navbar navbar-expand-lg bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand text-white" href="/">Note App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
</svg>
</svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            href="/"
          >Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-disabled="true"
            href="/about"
          >About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            href="/login"
          >Login</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            href="/registrer"
          >Registrer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>